:root {
    --primary-color: #32e6b7;
    --hover-color: #20a175;
    --navbar-bg-color: #fff;
    --navbar-text-color: black;
}
body{
    background-color: whitesmoke;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.navbar {
    width: 90vw;
    height: 12vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    background-color: var(--navbar-bg-color);
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin-left: 2.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.navbar:hover {

    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}


.navbar .navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5rem;
    list-style: none;
    color: var(--navbar-text-color);
    text-decoration: none;
    margin: 0;
}


.navbar .navbar-links li {
    color: var(--navbar-text-color);
    padding: 1rem;
}
.navbar .navbar-links li:hover {
    color: #e64675;
}
.navbar .navbar-links hr {
    border: none;
    outline: none;
}

span h1 {
    display: flex;
    margin-left: 1.5rem;
    cursor: pointer;
    text-align: center;


}

.navbar .navbar-btn .btn-primary {
    padding: 0.75rem 1.3rem;
    margin-right: 4.5rem;
    border-radius: 0.75rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    outline: none;
}

.navbar .navbar-btn .btn-primary:hover {
    background-color: var(--hover-color);
    color: white;
    cursor: pointer;
}

.img-links{
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

}

.img-links-1{
    width: 1.9rem;
    border-radius: 50%;
}
.img-links-2{
    width: 0.8rem;
    border-radius: 50%;

}
.dropdown{
    position: absolute;
    top:2.9rem;
    right:0;
    background-color: white;
    width: 9rem;
    justify-content:center ;
    /*display: flex;*/
    gap:1rem;
    display: none;


}
.dropdown:hover{
    position: absolute;
    top:2.9rem;
    right:0;
    background-color: white;
    width: 9rem;
    justify-content:center ;
    display: flex;
    gap:1rem;

}



